<template>
  <div id="main-container">
    <h1>用户列表</h1>
    <el-row style="padding-bottom: 10px">
      <el-button type="primary" @click="dialogVisible = true">新增</el-button>
    </el-row>

    <el-row>
      <el-table :data="userList" style="width: 100%" stripe border>
        <el-table-column prop="id" label="用户ID"> </el-table-column>
        <el-table-column prop="name" label="姓名"> </el-table-column>
        <el-table-column prop="sex" label="性别"> </el-table-column>
        <el-table-column prop="age" label="年龄"> </el-table-column>
        <el-table-column prop="birthday" label="生日"> </el-table-column>
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">编辑</el-button>
            <el-button size="mini" type="danger" @click="handleDelete(scope.$index, scope.row)">删除</el-button>
          </template>
        </el-table-column>
      </el-table>
    </el-row>

    <el-row>
      <el-pagination
        style="float: right"
        @size-change="handleSizeChange"
        @current-change="handleCurrentChange"
        :current-page="currentPage"
        :page-sizes="[2, 4, 6, 8, 10]"
        :page-size="pageSize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total">
      </el-pagination>
    </el-row>

    <el-row>
      <el-dialog :title="title + '用户'" :visible.sync="dialogVisible" width="30%" :before-close="handleClose">
        <el-form ref="form" :rules="rules" :model="form" label-width="80px">
          <el-form-item label="姓名" prop="name">
            <el-input v-model.trim="form.name"></el-input>
          </el-form-item>
          <el-form-item label="性别" prop="sex">
            <el-radio-group v-model.trim="form.sex">
              <el-radio label="男" checked></el-radio>
              <el-radio label="女"></el-radio>
            </el-radio-group>
          </el-form-item>
          <el-form-item label="年龄" prop="age">
            <el-input v-model.number="form.age"></el-input>
          </el-form-item>
          <el-form-item label="生日" prop="birthday">
            <el-col :span="11">
              <el-date-picker type="date" placeholder="选择日期" value-format="yyyy-MM-dd HH:mm:ss" v-model="form.birthday" style="width: 100%"></el-date-picker>
            </el-col>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="handleCancel">取 消</el-button>
          <el-button type="primary" @click.prevent="add">确 定</el-button>
        </span>
      </el-dialog>
    </el-row>
  </div>
</template>

<script>
import users from '@/views/users.js'

export default users
</script>

<style lang="less" scoped>
// .el-row {
//   float: left;
//   margin-bottom: 20px;
// }
// .block {
//   float: right;
//   padding-top: 5px;
// }
// .el-radio-group {
//   float: left;
// }
</style>
